@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

html, body {
  color: #000000;
	background-color: #FFFFFF;
	font-family: 'Roboto Mono', monospace;
  margin: 0;
	font-size: 150%;
  position: relative;
	padding: 0;
}
h1 {
	color: #FFFFFF;
	background-color: #000A46;
  margin: 0px;
  padding: 5px;
  width:100%;
}

p {
  font-size: 75%;
  text-align: center;
  margin-top: 8px;
}

button, input[type=submit] {
  color: #FFFFFF;
  background-color:#005C9B;
  font-size: 150%;
  text-align: center;
  width:20%;
  height: 20%;
  display: block;
  margin: auto;
  margin-top: 32px;
  margin-bottom: 32px;
  border: none;
}

.header {
  color: #FFFFFF;
  background-color: #B8002B;
  margin: 0px;
  padding: 4px;
  width:100%;
  font-size: 25%;
}

#blueHeader {
  background-color: #000A46;
}

#fileSelectionWrapper {
  width: 80%;
  margin: auto;
  margin-top: 10%;
}

#asciiArt {
  font-size: 0.5vw;
  text-align: center;
  width: 80%	
  margin: auto;
  margin-top: 24px;
  margin-bottom: 24px;
}

#img {
  text-align: center;
  width:80%;
  height: auto;
  margin: auto;
  margin-top: 24px;
}
